@import 'mixins.scss';
@import 'grid.scss';

/***** FORMATAÇÃO DOS GRIDS *****/

.coluna-1 {
    background-color: #2196F3;
    border-style: solid;
    border: #000;
}

.coluna-2 {
    background-color: #3F51B5;
    border-style: solid;
    border: #000;
}

.coluna-3 {
    background-color: #FFEB3B;
    border-style: solid;
    border: #000;
}

.coluna-4 {
    background-color: #F44336;
    border-style: solid;
    border: #000;
}

.coluna-5 {
    background-color: #8BC34A;
    border-style: solid;
    border: #000;
}

.coluna-6 {
    background-color: #FF9800;
    border-style: solid;
    border: #000;
}

.coluna-7 {
    background-color: #795548;
    border-style: solid;
    border: #000;
}

.coluna-8 {
    background-color: #9E9E9E;
    border-style: solid;
    border: #000;
}

.coluna-9 {
    background-color: #607D8B;
    border-style: solid;
    border: #000;
}

.coluna-10 {
    background-color: #4CAF50;
    border-style: solid;
    border: #000;
}

.coluna-11 {
    background-color: #00BCD4;
    border-style: solid;
    border: #000;
}

.coluna-12 {
    background-color: #E91E63;
    border-style: solid;
    border: #000;
}